#ConceptsPageTitle{
  color: black;
  font-size: 40;
  text-align: center;
}


#mainbuttonDiv{
  text-align: right;
  margin-top: 10px;

}

#ProgressButton{
  font-size: 25;
  background-color:blue;
}

#TestYourSelf{
  font-size: 25;
  background-color:blue;
}

body{
  background-color: lightblue;
}
