#TestPageTitle{
  color: black;
  font-size: 40;
  text-align: center;
}


#mainbuttonDiv{
  text-align: right;
  margin-top: 10px;

}

#ProgressButton{
  font-weight: bold;
  background-color: blue;
}

#ExtraHelp{
  font-weight: bold;
  background-color: blue;

}

#TestBox{
  font-size: 20;
  background-color:white;
}


body{
  background-color: lightblue;
}
