.subcontent{
  height: 100%; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  margin-right: 350px;
}

.content{
}
.headerDiv{
  color: white;
}

#ptag{
  font-size: 25px;
}

#inner{
  text-align: center;
}

.fraction > span {
  display: block;
  padding-top: 0.15em;
}
.fraction span.dem {border-top: thin solid white;}
.fraction span.bar {display: none;}
